<%- include('_headerUsuario'); -%>
<body>

    <div class="d-flex" id="wrapper">
        <div id="page-content-wrapper" style="background-color: white;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md">
                        <p class="title mt-3 pb-2 font-weight-bold h1">Doctores disponibles</p>
                    </div>
                </div>
                <div class="bg-white shadow p-3 mb-5" style="min-width: 1050px;">
                
                   <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Área</th>
                                <th scope="col">Doctores</th>
                                <th scope="col">Agendar</th>
                            </tr>
                            </tr>
                        </thead>
                        <tbody id="componenttable">
                        </tbody>
                    </table>
                </div></div>
            </div>
        </div>
    </div>
	
	 <script>
	var table = document.getElementById("componenttable");
	var count = 0;
	var leadsRef = db.ref('doctores');
	leadsRef.on('value', function(snapshot) {
    snapshot.forEach(function(childSnapshot) {
      var childData = childSnapshot.val();
		console.log(childData)
		var row = table.insertRow(count);
		var cell1 = row.insertCell(0);
		var cell2 = row.insertCell(1);
		var cell3 = row.insertCell(2);

		cell1.innerHTML	=	childData.area;
		cell2.innerHTML = childData.name;
		cell3.innerHTML = childData.number;

				count++;




    });
});


  </script>
</body>
<%- include ('_footer'); -%>