<%- include('_header'); -%>

<div class="d-flex" id="wrapper">
    <div id="page-content-wrapper" style="background-color: #FAFAFA;">            
        <div class="container-fluid">
            <h1 align="center" style="color:black;">Información General</h1>
            <div class="bg-white shadow p-3 mb-5">
                <div class="form-group">
                    <h4>Instituto Tecnológico de Costa Rica</h4>
                    <br>
                    <h4>Ubicación: Los Ángeles, Cartago, Costa Rica</h4>
                    <br>
                    <h4>Correos electrónicos:
                        <br>
                        <br>
                        Daniel Alvarez 
                        <br>
                        David Quesada - davidqp0799@gmail.com
                        <br>
                        José David Rodríguez - jdavid061196@gmail.com
                        <br>
                        Gilberth Segura
                        <br>
                    </h4>
                </div>
            </div>
        </div>  
    </div>
</div>


<%- include ('_footer'); -%>