<!DOCTYPE html>
<html>

<head>
<%- include('_headerUsuario'); -%>
</head>

<body>
    <div class="d-flex" id="wrapper">
        <div id="page-content-wrapper" style="background-color: #FAFAFA;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md">
                        <p class="title mt-3 pb-2 font-weight-bold h1">Crear Recordatorio</p>
                    </div>
                </div>
                <div class="panel-body" style="min-width: 1050px;">
                    <form>
                        <div class="form-group">
                          <label for="fechaRecordatorio">Fecha del recordatorio</label>
                          <input type="date" class="form-control" id="fechaRecordatorio">
						  <input type="time" class="form-control" id="hourRecordatorio">

                        </div>
                        <div class="form-group">
                          <label for="descripcionRecordatorio">Descripción</label>
                          <input type="text" class="form-control" id="descripcionRecordatorio">
                        </div>
                        <button type="button" onClick = "crear(form)" class="btn btn-primary"style="color:white; background-color:black; border-color: black;">Guardar</button>
                      </form>
                </div>
            </div>
        </div>
    </div>


  <script>
	function crear(form){

	var date = form.fechaRecordatorio.value.split("-");
	var hour = form.hourRecordatorio.value.split(":");
		console.log(form.hourRecordatorio.value)


	var alarmNumber = Math.floor(Math.random() * 10000 + 1)
	  db.ref('recordatorios/'+alarmNumber).set({
		     "alarmNumber" : alarmNumber,
			"cedulaPaciente" : localStorage["cedPaciente"],
			"date" : "["+date[0]+", "+date[1]+", "+date[2]+", "+hour[0]+", "+hour[1]+"]",
			"idRecordatorio" : alarmNumber,
			"name" : form.descripcionRecordatorio.value,
			"state" : true
  });
  }
  </script>
</body>
<%- include ('_footer'); -%>

</html>