<!DOCTYPE html>
<html>

<head>
<%- include('_headerUsuario'); -%>
</head>

<body>
    <div class="d-flex" id="wrapper">
        <div id="page-content-wrapper" style="background-color: #FAFAFA;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md">
                        <p class="title mt-3 pb-2 font-weight-bold h1">Crear Recordatorio</p>
                    </div>
                </div>
                <div class="panel-body" style="min-width: 1050px;">
                    <form>
                        <div class="form-group">
                          <label for="fechaRecordatorio">Fecha del recordatorio</label>
                          <input type="date" class="form-control" id="fechaRecordatorio">
                        </div>
                        <div class="form-group">
                          <label for="descripcionRecordatorio">Descripción</label>
                          <input type="text" class="form-control" id="descripcionRecordatorio">
                        </div>
                        <button type="submit" class="btn btn-primary"style="color:white; background-color:black; border-color: black;">Guardar</button>
                      </form>
                </div>
            </div>
        </div>
    </div>

</body>
<%- include ('_footer'); -%>

</html>