<%- include('_headerUsuario'); -%>

<div>
	<div class="row">
		<div class="col-12 col-md-3"></div>
		<div class="col-12 col-md-6">
		<h1 align="center" style="color:black; padding-top: 50px;">Bienvenidxs cuidadorxs</h1>
	</div>
</div>

	<div class="row" style="background-color: black;  margin-top: 30px; ">
		<div class="col-12 col-md-6" style="padding: 90px; margin-top: 30px;">
			<h3 class="homepage_white" style="color:white" align="center">¿Qué hacer con esta herramienta?</h3>
			<br>
            <h3 class="homepage_white" style="color:white" align="center">
                Con la versión web de la herramienta Aloysius para cuidadores podrá tener un mejor manejo
                de los recordatorios para sus pacientes. Esto es crear, eliminar y visualizar los recordatorios previamente
                creados.
                Una funcionalidad exclusiva de la versión web de Aloysius es la habilidad para crear una cita médica
                con los doctores asociados a Aloysius. Tenemos variedad de áreas como lo son: fisioterapia, psicología, 
                doctores generales y mucho más. Todos los doctores son registrados en el Colegio de Médicos de Costa Rica y cuentan 
                con un mínimo de 5 años de experiencia.
            </h3>
        </div>
        <div class="col-12 col-md-6" style=" padding-top: 140px; padding-right: 30px">
			<img style="width: 120%; height: 350px;" src="/images/logo.png" class="img-fluid center">
		</div>
	</div>

    <div class="row" style="background-color: white; padding: 60px;">

	</div>
<%- include ('_footer'); -%>