<%- include('_headerUsuario'); -%>

<div>
	<div class="row">
		<div class="col-12 col-md-3"></div>
		<div class="col-12 col-md-6">
		<h1 align="center" style="color:black; padding-top: 50px;">Bienvenidxs cuidadorxs</h1>
	</div>
</div>

	<div class="row" style="background-color: black;  margin-top: 30px; ">
		<div class="col-12 col-md-6" style="padding: 90px; margin-top: 30px;">
			<h3 class="homepage_white" style="color:white" align="center">¿Qué hacer con esta herramienta?</h3>
			<br>
            <h3 class="homepage_white" style="color:white" align="center">
                Con la versión web de la herramienta Aloysius para cuidadores podrá tener un mejor manejo
                de los recordatorios para sus pacientes. Esto es crear, eliminar y visualizar los recordatorios previamente
                creados.
                Una funcionalidad exclusiva de la versión web de Aloysius es la habilidad para crear una cita médica
                con los doctores asociados a Aloysius. Tenemos variedad de áreas como lo son: fisioterapia, psicología, 
                doctores generales y mucho más. Todos los doctores son registrados en el Colegio de Médicos de Costa Rica y cuentan 
                con un mínimo de 5 años de experiencia.
            </h3>
        </div>
        <div class="col-12 col-md-6" style=" padding-top: 140px; padding-right: 30px">
			<img style="width: 120%; height: 350px;" src="/images/logo.png" class="img-fluid center">
		</div>
	</div>

	<div class="row" style="margin-top: 30px; padding: 120px;">
		<div class="col-12 col-md-3">
			<img style="width: 250px; height: 250px;" src="/images/algoritmo_azul.png" class="img-fluid center">
		</div>

		<div class="col-12 col-md-9">
            <h3 class="homepage_black" style="color: black" align="center">Alcance de Aloysius</h3>
				<h4 class="homepage_black" style="color: black" align="center">En su versión inicial la aplicación será un app movil la cual estará disponible solo para
                    dispositivos android. La aplicación tendrá en sí dos formas de funcionar, una
                    presentará una vista para la persona con alzheimer y otra para su cuidador.
                    La vista que se le provee a la persona con demencia le permite gestionar recordatorios
                    que el mismo puede crear para que en determinada fecha o tiempo genere una alarma
                    en el teléfono para recordar la actividad a llevar a cabo. La otra funcionalidad de la vista
                    es un botón que dispara una alarma por extraviamiento, esta alarma indicaría a los
                    cuidadores por medio de sus móviles que su paciente se ha extraviado y al mismo
                    tiempo les brindaría información de su localización para que puedan llegar a él más
                    rápido.
                    La otra vista, la del cuidador también contará con una herramienta de gestión de tareas
                    (recordatorios) para ayudar a sus pacientes. Otra funcionalidad a la que puede acceder
                    el cuidador es un análogo al botón de emergencia del paciente con demencia. Se trata
                    de un botón que solicita la ubicación de una persona que tenga vinculada su cuenta de
                    paciente con la cuenta del cuidador, de esta forma los cuidadores pueden recuperar a
                    sus pacientes cuando los pierdan de vista o por completo.</h4>
        </div>
    </div>
    
    <div class="row" style="background-color: black;  margin-top: 30px; ">
		<div class="col-12 col-md-6" style="padding: 90px; margin-top: 30px;">
			<h3 class="homepage_white" style="color:white" align="center">Objetivo</h3>
			<br>
            <h3 class="homepage_white" style="color:white" align="center">
                Diseñar una solución de software única en el país para mejorar la calidad de
                vida tanto para pacientes con síndromes de demencia, específicamente Alzheimer,
                como para sus familiares y cuidadores. Dando así un impacto positivo tanto a nivel
                social como en el área de salud de la población costarricense.
            </h3>
		</div>
    </div>

    <div class="row" style="background-color: white; padding: 60px;">

	</div>
<%- include ('_footer'); -%>